* {
    /* border: 1px solid yellow; */
}

.returnDiv > :is(h1, h2, h3, p){
    margin: 0 1rem;
}

.header{
    /* color: white; */
    padding-top: 2rem;
}
.headerWhite{
    color: white;
    padding-top: 2rem;
}

/* Components -------------------------------------- */

.CreateUserBTN {
    background-color: var(--Magenta);
    color: white;

    text-align: center;

    padding: 0rem;
    border-radius: 50px;
    border: none;
}


.preferenceCard {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background-color: var(--Light-Magenta);
    color: white;
}



.NextBTN{
    position: absolute;
    top: 662px;
    left: 0;
    right: 0;
    
    border: none;
    border-radius: 50px;
    background-color: var(--grey2);

    width: fit-content;
    padding: 0.5rem 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}


.SearchField{
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: 0 auto;

    background-color: var(--grey2);
    border-radius: 25px;
    
    display: flex;
    align-items: center;
    
    padding: 0.5rem;
    width: 300px;
}
.SearchField label input {
    background-color: red;
    border-style: hidden;
    font-size: 18px;
}
.searchIcon{
    width: 24px;
    height: 24px;
}


.CameraScan{
    display: block;
    width: 100px;
    margin: 0 auto;
}

/* Page 1 --------------------------------------- */

.landingPageFlex{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2rem);
    margin: 1rem;
}

.landingPageFlex > * {
    flex: 1 1 content;
}

.logoContainer {
    text-align: center;
}
.logo {
    width: 60vw;
    max-width: 150px;
}



.frontpageText > p{
    font-size: 18px;
    margin-top: 0.5rem;
}

.createButtons {
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.createAccount {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    
    background-color: white;
    color: grey;
}

/* Page 2------------------------------------- */

.backgroundImage{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23CA336A' fill-opacity='1' d='M0 96L120 133.3C240 171 480 245 720 240C960 235 1200 149 1320 106.7L1440 64L1440 0L1320 0C1200 0 960 0 720 0C480 0 240 0 120 0L0 0Z'%3E%3C/path%3E%3C/svg%3E");
    
    height: 400px;
    width: 100%;
    background-position: -17rem;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.headerWhite {
    position: absolute;
    top: 0;
}


#cardGridContainer {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;

    display: grid;
    width: 90%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 150px 150px;
    gap: 1rem;
    padding-top: 24px;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: auto;
    /* margin: auto; */

    overflow: visible !important;

}


/* Page 3 ------------------------------------- */

.scanFoodContainer{
    position: absolute;
    top: 320px;
    margin: 0 auto;
    left: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.scanFoodContainer > * {
    margin: 0 1rem;
}
.scanFoodContainer p {
    font-size: 18px;
}

.openCameraButton{
    text-align: center;
    font-family: nunito-bold;
    font-size: 20px;
    letter-spacing: 0.1px;
    align-self: center;
    border: none;
    background-color: transparent;
}

/* Fixes background color of placeholder text */
.SearchField label input {
    background-color: var(--grey2);
    color: #000;
}


/* Page 4 ------------------------------------- */

#logoContainer{
    margin-top: 1rem;
}

.saveMoneyButton{
    position: absolute;
    border: none;
    border-radius: 50px;
    background-color: var(--Yellow);

    top: 662px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    width: fit-content;
    padding: 0.5rem 1.5rem;
}

.lastPageReturnDiv{
    margin: 0 1rem;
}


/* Discount Page Style */

.discountPage{
    background-image: url(/src/assets/Screenshot\ 2022-10-31\ at\ 22.08.19.png);
    background-size: cover;
    height: 200vw;
    width: 100%;
}